## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,59.32,82,100,13.29,overcast clouds
1,1,Saskylakh,RU,71.9167,114.0833,54.63,63,100,7.23,overcast clouds
2,2,Chokurdakh,RU,70.6333,147.9167,57.15,38,23,14.61,few clouds
3,3,Salur,IN,18.5333,83.2167,87.82,67,100,3.33,moderate rain
4,4,Yellowknife,CA,62.4560,-114.3525,55.92,76,75,0.00,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Salur,IN,18.5333,83.2167,87.82,67,100,3.33,moderate rain
11,11,Bengkulu,ID,-3.8004,102.2655,80.91,85,100,7.90,overcast clouds
22,22,Hasaki,JP,35.7333,140.8333,84.29,94,10,18.07,clear sky
23,23,Kapaa,US,22.0752,-159.3190,77.32,83,40,14.97,scattered clouds
25,25,Westport,US,41.1415,-73.3579,75.36,91,0,0.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
646,646,Bougouni,ML,11.4170,-7.4790,79.29,76,96,5.28,moderate rain
650,650,Uvalde,US,29.3669,-99.7670,77.32,49,100,8.05,overcast clouds
651,651,Marsh Harbour,BS,26.5412,-77.0636,82.40,74,0,12.91,clear sky
652,652,Peniche,PT,39.3558,-9.3811,78.30,85,97,14.03,overcast clouds
653,653,Banda Aceh,ID,5.5577,95.3222,85.03,67,100,10.49,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.

clean_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Salur,IN,18.5333,83.2167,87.82,67,100,3.33,moderate rain
11,11,Bengkulu,ID,-3.8004,102.2655,80.91,85,100,7.90,overcast clouds
22,22,Hasaki,JP,35.7333,140.8333,84.29,94,10,18.07,clear sky
23,23,Kapaa,US,22.0752,-159.3190,77.32,83,40,14.97,scattered clouds
25,25,Westport,US,41.1415,-73.3579,75.36,91,0,0.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
646,646,Bougouni,ML,11.4170,-7.4790,79.29,76,96,5.28,moderate rain
650,650,Uvalde,US,29.3669,-99.7670,77.32,49,100,8.05,overcast clouds
651,651,Marsh Harbour,BS,26.5412,-77.0636,82.40,74,0,12.91,clear sky
652,652,Peniche,PT,39.3558,-9.3811,78.30,85,97,14.03,overcast clouds
653,653,Banda Aceh,ID,5.5577,95.3222,85.03,67,100,10.49,moderate rain

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Salur,IN,87.82,moderate rain,18.5333,83.2167,
11,Bengkulu,ID,80.91,overcast clouds,-3.8004,102.2655,
22,Hasaki,JP,84.29,clear sky,35.7333,140.8333,
23,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,
25,Westport,US,75.36,clear sky,41.1415,-73.3579,
...,...,...,...,...,...,...,...
646,Bougouni,ML,79.29,moderate rain,11.4170,-7.4790,
650,Uvalde,US,77.32,overcast clouds,29.3669,-99.7670,
651,Marsh Harbour,BS,82.40,clear sky,26.5412,-77.0636,
652,Peniche,PT,78.30,overcast clouds,39.3558,-9.3811,
653,Banda Aceh,ID,85.03,moderate rain,5.5577,95.3222,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', inplace=True)

In [15]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Salur,IN,87.82,moderate rain,18.5333,83.2167,SATYAM NAIDU FARM HOUSE ( సత్యం నాయుడు వ్యవసాయ...
11,Bengkulu,ID,80.91,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
22,Hasaki,JP,84.29,clear sky,35.7333,140.8333,Inubosaki Kanko Hotel
23,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Westport,US,75.36,clear sky,41.1415,-73.3579,The Westport Inn
...,...,...,...,...,...,...,...
646,Bougouni,ML,79.29,moderate rain,11.4170,-7.4790,Non Stop
650,Uvalde,US,77.32,overcast clouds,29.3669,-99.7670,"Chambres d'hôte ""La Trinité"""
651,Marsh Harbour,BS,82.40,clear sky,26.5412,-77.0636,Abaco Beach Resort
652,Peniche,PT,78.30,overcast clouds,39.3558,-9.3811,Hotel Star inn Peniche
653,Banda Aceh,ID,85.03,moderate rain,5.5577,95.3222,OYO 884 Rumoh PMI Hotel

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))